body {
  display: grid;
  margin: 0px;
  margin-top: 60px;
  gap: 60px;
  background-color: #f7f7f7;
  font-family:Arial, Helvetica, sans-serif;
  justify-items: center;
}

p, h1, h2, h3, a {
  margin: 0px;
}
.logo {
  display: block;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.options {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.options a {
  background-color: #fff;
  color: #000;
  padding: 15px 30px;
  border-radius: 4px;
}

.options a:hover{
  /* margin: 0px; */
  border: 2px solid red;
  border-radius: 4px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1000px;
}

.description {
  background-color: #fff;
  text-align: right;
  padding: 40px;
  position: relative;
  display: grid;
  gap: 20px;
  align-content: center;
  justify-items: end;
}

.title-description {
  font-size: 2rem;
  margin: 0px;
  padding: 0px;
  /* background-color: #f7f7f7; */
}

.detail {
  width: 60px;
  height: 4px;
  background-color: red;
  display: inline-block;
  position: absolute;
  top: 30px;
  right: -30px;
}

p {
  font-size: 1.25rem;
}

img {
  max-width: 100%;
}

.button {
  color: #fff;
  background-color: red;
  padding: 15px 25px;
  border-radius: 4px;
}

.streights-title {
  color:#c6c6c6;
  font-size: 4rem;
  text-transform: uppercase;
  padding: 40px;
  text-align: end;
  align-self: center;
}

.topics {
  padding: 40px;
  background-color: #fff;
}

.topics-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
}

.topics-item p {
  grid-column: 2;
}

.footer {
  background-color: #fff;
  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}