body {
  display: grid;
  margin: 0px;
  margin-top: 60px;
  gap: 60px;
  background-color: #f7f7f7;
  font-family:Arial, Helvetica, sans-serif;
  justify-items: center;
}

.logo {
  display: block;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.options {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.options a {
  background-color: #fff;
  color: #000;
  padding: 15px 30px;
  border-radius: 4px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1000px;
  background-color: #fff;
}

.description {
  display: grid;
  place-items: end;
  place-self: center;
  padding: 30px 40px;
  text-align: end;
  position: relative;
}

.title-description {
  font-size: 32px;
  margin: 0px;
  padding: 0px;
  /* background-color: #f7f7f7; */
}

.detail {
  width: 60px;
  height: 4px;
  background-color: red;
  display: inline-block;
  position: absolute;
  top: -10px;
  right: -30px;
}

p {
  font-size: 20px;
}

img {
  max-width: 100%;
}

.button {
  color: #fff;
  background-color: red;
  padding: 15px 25px;
  border-radius: 4px;
}

.streights-title {
  color:#c6c6c6;
  font-size: 64px;
  text-align: end;
  margin: 0px;
}

.topics {
  margin: 40px;
}