:root {
  --bk-color-general: #f7f7f7;
  --bk-color-a: #fff;
  --a-color: #000;
  --subtitle-color: #cfcfcf;
  --hover-color-border: red;
  --hover-color-darker: darkred;
  --wave: url("img/onda.svg");
}

@media (prefers-color-scheme: dark) {
  :root {
    --bk-color-general: #1A1A1A;
    --bk-color-a: #000;
    --a-color: #fff;
    --subtitle-color: #4F4F4F;
    --hover-color-border: red;
    --hover-color-darker: darkred;
    --wave: url("img/onda-dark.svg");
  }
}

body {
  display: grid;
  margin: 0px;
  margin-top: 60px;
  gap: 60px;
  background-color: var(--bk-color-general);
  font-family:Arial, Helvetica, sans-serif;
  justify-items: center;
}

p, h1, h2, h3, a {
  color: var(--a-color);
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  list-style: none;
  margin: 0px;
}

.header {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  gap: 60px;
}

.menu-options {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.menu-options a {
  display: block;
  background-color: var(--bk-color-a);
  color: var(--a-color);
  padding: 15px 30px;
  border-radius: 4px;
  border: 2px solid transparent;
}

.menu-options a:hover{
  border: 2px solid var(--hover-color-border);
  border-radius: 4px;
  transition-duration: .1s;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1000px;
}

.description {
  display: grid;
  align-content: center;
  justify-items: end;
  padding: 40px;
  gap: 20px;
  background-color: var(--bk-color-a);
  text-align: right;
  position: relative;
}

.description::before {
  content: "";
  width: 60px;
  height: 4px;
  background-color: var(--hover-color-border);
  position: absolute;
  top: 30px;
  right: -30px;
}

.description-image img {
  object-fit: cover;
  height: 100%;
}

#label-introduction {
  font-size: 2rem;
  margin: 0px;
  padding: 0px;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  border-radius: 4px;
  background-color: var(--hover-color-border);
  color: var(--a-color);
}

.button:hover {
  background-color: var(--hover-color-darker);
  transition-duration: .3s;
}

#label-streights {
  background-image: var(--wave);
  align-self: center;
  text-align: end;
  padding: 40px;
  font-size: 4rem;
  text-transform: uppercase;
  color:var(--subtitle-color);
}

.topics {
  background-color:var(--bk-color-a);
  padding: 40px;
}

.topics-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
}

.topics-item p {
  grid-column: 2;
}

.topics-item:nth-child(odd) {
  background-color: var(--bk-color-general);
}

.topics-item:hover {
  border-left: 4px solid var(--hover-color-border);
  transition-duration: .1s;
}

.footer {
  background-color: var(--bk-color-a);
  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .main-streights {
    grid-template-columns: 1fr;
  }
  
  #label-streights {
    text-align: center;
  }
}

@media (max-width: 600px) {
  body {
    gap: 30px;
    margin-top: 20px;
  }

  .header {
    gap: 30px;
  }

  .main {
    grid-template-columns: 1fr;
  }

  .description-image img {
    width: auto;
    height: auto;
  }
  
  .description {
    text-align: center;
    justify-items: center;
  }

  .description::before {
    display: none;
  }
}

@media (max-width: 425px) {
  .description-image img {
    width: auto;
    height: auto;
  }

  #label-streights {
    font-size: 3rem;
  }

  p {
    font-size: 1rem;
  }
}